[Desktop Entry]
Type=Application
Exec=/usr/bin/startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Ubuntu-daemon
Name=Ubuntu-daemon
Comment[en_US]=
Comment=
