#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sheets
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 4" --app-id=fhihpiojkbmbpdjeoajapmgkhlnakfjf
Icon=chrome-fhihpiojkbmbpdjeoajapmgkhlnakfjf-Profile_4
StartupWMClass=crx_fhihpiojkbmbpdjeoajapmgkhlnakfjf
OnlyShowIn=Old;
