#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drive
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 4" --app-id=aghbiahbpaijignceidepookljebhfak
Icon=chrome-aghbiahbpaijignceidepookljebhfak-Profile_4
StartupWMClass=crx_aghbiahbpaijignceidepookljebhfak
